#loader {
    margin: auto;
    width: 40px;
    height: 40px;
    border: 5px solid #ecf0f0;
    border-radius: 50%;
    border-top-color: blueviolet;
    animation-name: spin;
    animation-duration: 2.5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    /* animation: spin 2.5s linear infinite; - Shorthand - */
}

@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        height: 0;
        padding: 0;
        width: 0;
        margin: 0 auto;
        opacity: 0;
    }
}


.main-container {
        height: 0;
        overflow: hidden;
       -moz-animation: slide 1s ease 2.5s forwards;
       -webkit-animation: slide 1s ease 2.5s forwards;
       -o-animation: slide 1s ease 2.5s forwards;
       -ms-animation: slide 1s ease 2.5s forwards;
        animation: slide 1s ease 2.5s forwards;
    }
    
    
    @-moz-keyframes slide /* Firefox */
    {
    from {height: 0;}
    to {height: 100%;}
    }
    
    @-webkit-keyframes slide /* Safari and Chrome */
    {
    from {height: 0;}
    to {height: 100%;}
    }
    
    @-o-keyframes slide /* Opera */
    {
    from {height: 0;}
    to {height: 100%;}
    }
    
    @-ms-keyframes slide /* IE10 */
    {
    from {height: 0;}
    to {height: 100%;}
    }
    
    @keyframes slide
    {
    from {height: 0;}
    to {height: 100%;}
    }
    